<div class="stock-inventory">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-stock-branch
      [parent]="form">
    </app-stock-branch>
    <app-stock-selector
      [products]="products"
      [parent]="form"
      (added)="addStock($event)">
    </app-stock-selector>
    <app-stock-products
      [parent]="form"
      [map]="products"
      (removed)="removeStock($event)">
    </app-stock-products>
    <div class="stock-inventory__price">
      Total: {{ total | currency:'USD':true }}
    </div>
    <div class="stock-inventory__buttons">
      <button
        type="submit"
        [disabled]="form.invalid">
        Order stock
      </button>
    </div>
    <pre>{{ form.value | json }}</pre>
  </form>
</div>
