<div>
  <button (click)="moveComponent()">Move</button>
  <button (click)="destroyComponent()">Destroy</button>
  <div #entry></div>
  <ng-template #tmpl let-name let-location="location">{{ name }} : {{ location }}</ng-template>
  <div>
    <ng-container [ngTemplateOutlet]="tmpl2" [ngTemplateOutletContext]="ctx"></ng-container>
  </div>
  <ng-template #tmpl2 let-name let-location="location">{{ name }} : {{location}}</ng-template>
  <h3>View encapsulation examples</h3>
  <app-example-one></app-example-one>
  <app-example-two></app-example-two>
  <app-example-three></app-example-three>
  <div>
    <h3>Custom directive example</h3>
    <label>
      Credit Card Number
      <input
        name="credit-card"
        type="text"
        placeholder="Enter your 16-digit card number"
        appCreditCard>
    </label>
  </div>
</div>
